In [5]:
import pandas as pd

In [10]:
raw_collisions = pd.read_csv('../data/raw/nyc_collisions_sample.csv')
pd.set_option("display.max_columns", None)
raw_collisions.head(25)

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,03/08/2022,23:00,NaN,NaN,NaN,NaN,NaN,LINDEN BOULEVARD,SOUTH CONDUIT AVENUE,NaN,1.0,0,0,0,0,0,1,0,Traffic Control Disregarded,Unspecified,NaN,NaN,NaN,4508554,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
1,07/24/2021,18:51,MANHATTAN,10026.0,40.802480,-73.954850,"(40.80248, -73.95485)",NaN,NaN,234 WEST 114 STREET,0.0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,Unspecified,NaN,NaN,4444677,Station Wagon/Sport Utility Vehicle,Sedan,Sedan,NaN,NaN
2,01/22/2023,16:16,BROOKLYN,11221.0,40.689420,-73.921970,"(40.68942, -73.92197)",NaN,NaN,1366 BROADWAY,1.0,0,0,0,0,0,1,0,Steering Failure,Unspecified,Unspecified,NaN,NaN,4601423,Sedan,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN
3,07/24/2021,21:20,NaN,NaN,40.751526,-73.859184,"(40.751526, -73.859184)",108 STREET,NaN,NaN,1.0,0,0,0,0,0,0,0,Traffic Control Disregarded,Unspecified,NaN,NaN,NaN,4441397,E-Bike,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
4,03/31/2022,9:00,QUEENS,11377.0,40.756298,-73.898930,"(40.756298, -73.89893)",32 AVENUE,68 STREET,NaN,1.0,0,1,0,0,0,0,0,Driver Inattention/Distraction,NaN,NaN,NaN,NaN,4514997,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
5,09/28/2021,23:30,BROOKLYN,11201.0,40.686700,-73.998200,"(40.6867, -73.9982)",HENRY STREET,KANE STREET,NaN,0.0,0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,4462334,Station Wagon/Sport Utility Vehicle,Tractor Truck Diesel,NaN,NaN,NaN
6,05/19/2022,15:51,BROOKLYN,11236.0,40.655132,-73.899506,"(40.655132, -73.899506)",NaN,NaN,10624 AVENUE D,1.0,0,0,0,0,0,1,0,Brakes Defective,Unspecified,Unspecified,NaN,NaN,4529541,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN
7,02/04/2023,0:00,QUEENS,11432.0,40.709015,-73.788574,"(40.709015, -73.788574)",NaN,NaN,90-24 172 STREET,0.0,0,0,0,0,0,0,0,Driver Inexperience,Passing or Lane Usage Improper,NaN,NaN,NaN,4603440,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
8,10/01/2022,15:40,NaN,NaN,NaN,NaN,NaN,EAST 113 STREET,NaN,NaN,0.0,0,0,0,0,0,0,0,Turning Improperly,Unspecified,NaN,NaN,NaN,4569572,Sedan,Tractor Truck Diesel,NaN,NaN,NaN
9,12/17/2021,20:20,NaN,NaN,NaN,NaN,NaN,BROOKLYN QNS EXPRESSWAY,COLES STREET,NaN,0.0,0,0,0,0,0,0,0,Following Too Closely,Unspecified,NaN,NaN,NaN,4487437,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
10,08/09/2021,11:30,QUEENS,11377.0,40.746483,-73.894936,"(40.746483, -73.894936)",BROOKLYN QUEENS EXPRESSWAY,ROOSEVELT AVENUE,NaN,1.0,0,0,0,0,0,1,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,4445295,Sedan,PK,NaN,NaN,NaN
11,03/19/2023,2:01,BRONX,10456.0,40.835010,-73.903530,"(40.83501, -73.90353)",3 AVENUE,EAST 170 STREET,NaN,0.0,0,0,0,0,0,0,0,Unspecified,Unspecified,Unspecified,NaN,NaN,4616685,Sedan,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN
12,02/13/2023,14:30,BROOKLYN,11217.0,40.684814,-73.983530,"(40.684814, -73.98353)",NEVINS STREET,DEAN STREET,NaN,0.0,0,0,0,0,0,0,0,Passing Too Closely,Unspecified,NaN,NaN,NaN,4605573,Station Wagon/Sport Utility Vehicle,Bus,NaN,NaN,NaN
13,11/03/2021,14:40,BROOKLYN,11203.0,40.639793,-73.929115,"(40.639793, -73.929115)",UTICA AVENUE,FOSTER AVENUE,NaN,0.0,0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,4473723,Sedan,Sedan,NaN,NaN,NaN
14,02/27/2022,10:47,QUEENS,11434.0,40.683784,-73.769745,"(40.683784, -73.769745)",MERRICK BOULEVARD,BAISLEY BOULEVARD,NaN,0.0,0,0,0,0,0,0,0,Unsafe Lane Changing,Unspecified,NaN,NaN,NaN,4507960,Sedan,Sedan,NaN,NaN,NaN
15,12/07/2021,20:30,MANHATTAN,10019.0,40.767090,-73.979620,"(40.76709, -73.97962)",NaN,NaN,210 CENTRAL PARK SOUTH,1.0,0,0,0,1,0,0,0,Other Vehicular,Unspecified,NaN,NaN,NaN,4484570,Station Wagon/Sport Utility Vehicle,Bike,NaN,NaN,NaN
16,11/27/2021,18:00,BRONX,10467.0,40.866047,-73.872070,"(40.866047, -73.87207)",BRONX RIVER PARKWAY,SOUTHERN BOULEVARD,NaN,0.0,0,0,0,0,0,0,0,Other Vehicular,NaN,NaN,NaN,NaN,4481863,Sedan,NaN,NaN,NaN,NaN
17,08/01/2023,23:55,NaN,NaN,40.798470,-73.969010,"(40.79847, -73.96901)",WEST 102 STREET,NaN,NaN,0.0,0,0,0,0,0,0,0,Backing Unsafely,Unspecified,NaN,NaN,NaN,4652724,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
18,04/28/2021,14:00,BRONX,10455.0,40.816620,-73.901440,"(40.81662, -73.90144)",NaN,NaN,691 DAWSON STREET,0.0,0,0,0,0,0,0,0,Unspecified,NaN,NaN,NaN,NaN,4412118,Sedan,NaN,NaN,NaN,NaN
19,10/30/2022,21:18,QUEENS,11413.0,40.664550,-73.752770,"(40.66455, -73.75277)",NaN,NaN,225-06 144 AVENUE,1.0,0,1,0,0,0,0,0,Unsafe Speed,NaN,NaN,NaN,NaN,4577367,Sedan,NaN,NaN,NaN,NaN
20,10/21/2022,19:50,NaN,NaN,40.703598,-74.014400,"(40.703598, -74.0144)",STATE STREET,NaN,NaN,0.0,0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,4574897,Sedan,Box Truck,NaN,NaN,NaN
21,03/30/2022,0:00,BROOKLYN,11234.0,40.621216,-73.935390,"(40.621216, -73.93539)",FLATBUSH AVENUE,FLATLANDS AVENUE,NaN,0.0,0,0,0,0,0,0,0,Failure to Yield Right-of-Way,Unspecified,NaN,NaN,NaN,4515515,Box Truck,Sedan,NaN,NaN,NaN
22,03/31/2022,19:00,BRONX,10452.0,40.840650,-73.919020,"(40.84065, -73.91902)",WEST 170 STREET,INWOOD AVENUE,NaN,0.0,0,0,0,0,0,0,0,Passing Too Closely,Unspecified,NaN,NaN,NaN,4515465,Sedan,Bus,NaN,NaN,NaN
23,06/22/2022,12:50,NaN,NaN,40.738730,-73.814280,"(40.73873, -73.81428)",LONG ISLAND EXPRESSWAY,NaN,NaN,1.0,0,0,0,0,0,1,0,Driver Inattention/Distraction,Driver Inattention/Distraction,NaN,NaN,NaN,4539764,Carry All,Sedan,NaN,NaN,NaN
24,09/10/2021,17:48,BRONX,10465.0,40.816370,-73.838970,"(40.81637, -73.83897)",SCHLEY AVENUE,BRUSH AVENUE,NaN,0.0,0,0,0,0,0,0,0,Following Too Closely,Unspecified,NaN,NaN,NaN,4459000,Sedan,Sedan,NaN,NaN,NaN

So let's develop a plan based on what we see above ^:

1. normalize column names converting stuff to snake_case and lower case
2. drop location, it's unneeded (latitude,longitude)
3. combine date and time
4. cast zipcode to integer
5. # of persons injured -> int
6. drop vehicle 4 and 5 related columns, almost entirely empty